<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,68},{34,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>thief.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{24,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,68},{48,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{64,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objs.png</string>
            <key>size</key>
            <string>{126,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:732874f18bdbf4a88fd3c5c0f211e3fa:02fa9bed0d2f7c34764fc4e6ba674133:bcfd32cb368a9372767ecbd152a46c40$</string>
            <key>textureFileName</key>
            <string>objs.png</string>
        </dict>
    </dict>
</plist>
