<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{34,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,122}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{94,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,160},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>question.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>thief.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,98},{24,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,224},{48,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objs.png</string>
            <key>size</key>
            <string>{126,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cd56de69cd161352632120f66d3936f:80c7b08bffa8210969d7f1ebd2bfb3c0:bcfd32cb368a9372767ecbd152a46c40$</string>
            <key>textureFileName</key>
            <string>objs.png</string>
        </dict>
    </dict>
</plist>
