<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,64},{34,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>thief.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{24,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,64},{48,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{48,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>trap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objs.png</string>
            <key>size</key>
            <string>{158,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:003ecbfd0d65bb1a23c56ccf9f67d4fe:8f88bd788776472c55490880f51f35ea:bcfd32cb368a9372767ecbd152a46c40$</string>
            <key>textureFileName</key>
            <string>objs.png</string>
        </dict>
    </dict>
</plist>
